<html layout:decorate="~{layout}">
<head>
    <title>Kissco Shop Cart</title>
    <style>
        .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }

        @media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }

        @media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }

        .mb-5-custom {
            margin-bottom: 100px;
        }
    </style>
</head>
<section class="py-5" style="background-color: #E1F6FA;" layout:fragment="content">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p class="mt-5 mb-4"><span class="h2 fw-bolder d-inline-block">장바구니</span><span
                        class="h4 fw-bolder d-inline-block mt-2 mb-2">(<span th:text="${#lists.size(cart)}"></span> 개 상품이 있습니다.)</span>
                </p>
                <div class="card mb-4">
                    <div class="card-body p-4">

                        <div class="row align-items-center" th:each="item : ${cart}">
                            <div class="col-md-2">
                                <!--                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"-->
                                <!--                     class="img-fluid" alt="Generic placeholder image">-->
                                <img th:if="${item.getItem().getImagePath() != null}" class="img-fluid"
                                     th:src="@{'/files/' + ${item.getItem().getImagePath()}}"
                                     alt="Generic placeholder image"/>
                                <img th:unless="${item.getItem().getImagePath() != null}" class="img-fluid"
                                     th:src="@{img/No_Image_Available.jpg}" alt="Generic placeholder image"/>
                            </div>
                            <div class="col-md-15 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">상품 이름</p>
                                    <p class="lead fw-normal mb-0" th:text="${item.getItem().getName()}"></p>
                                </div>
                            </div>
                            <div class="col-md-15 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">개수</p>
                                    <p class="lead fw-normal mb-0" th:text="${item.getCount()}"></p>
                                </div>
                            </div>
                            <div class="col-md-15 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">가격</p>
                                    <p class="lead fw-normal mb-0" th:text="|₩${item.getItem().getPrice()}|"></p>
                                </div>
                            </div>
                            <div class="col-md-15 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">합계</p>
                                    <p class="lead fw-normal mb-0" th:text="|₩${item.getTotalPrice()}|"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">총 주문금액:</span> <span
                                    class="lead fw-normal" th:text="|₩${totalPrice}|"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-light btn-lg me-2" onclick="location.href='/orders'" type="button">다른 상품 보기</button>
                    <button type="button" id="cartPurchaseButton" class="btn btn-primary btn-lg">구매하기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('cartPurchaseButton init');
            $('#cartPurchaseButton').click(function () {
                console.log('cartPurchaseButton clicked');
                // let cart = [[${cart}]];
                var header = $("meta[name='_csrf_header']").attr('content');
                var token = $("meta[name='_csrf']").attr('content');
                $.ajax({
                    url: '/buyCart',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    type: 'POST',
                    data: {},
                    success: function (response) {
                        window.location.href = '/orders';
                    },
                    error: function (xhr) {
                        console.log('error');
                        // AJAX 요청이 실패하면 오류를 처리하는 코드
                    }
                });
            });
        });
    </script>
</section>
</html>