<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>CONTROL PANEL</h1>
        <p>
            <a class="btn btn-lg btn-secondary" style="background-color: pink; border-color: transparent" href="/orders">돌아가기</a>
            <a class="btn btn-lg btn-secondary" href="/orderList">주문 조회</a>
        </p>
        <p class="lead"></p>
        <p>
            <a class="btn btn-lg btn-info" th:href="@{/question/create}">공지 등록</a>
            <a class="btn btn-lg btn-info" th:href="@{/question/list}">공지 조회</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/items">상품 조회</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>